footer {
	background: #000000;
	height: 300px;
}

#main {
	min-height: 100vh;
}

h1 {
	padding-top: 6rem;
	text-align: center;
}

.active {
	border-bottom: 3px solid #000000;
}

#alerts {
    position: absolute;
    display: none;
    min-height: 50px;
    top: 95%;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#alerts p {
    margin: 10px 0px;
}