{% extends "base.html" %}

{% block main_content %}

<h1> Log in </h1>

<div class="container">
	<div class="row justify-content-center">
		<form method="POST" action="/user_auth">
			<div class="form-group">
				<label for="username">User name</label>
				<input name="username" type="text" class="form-control" placeholder="User name" required>
			</div>
			<div class="form-group">
				<label for="user_password">Password</label>
				<input class="form-control" name="user_password" type="password" placeholder="Password" required>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Login</button>
		</form>
	</div>
</div>

{% endblock main_content %}