{% extends "base.html" %}

{% block main_content %}

<h1> Register </h1>

<section class="container-fluid">
	<div class="row">
		<div class="card mx-auto">
			<div class="card-body">
				<form class="form-signin" method="POST" action="/register">
					<div class="form-group">
						<label for="sign-in-username">User name*</label>
						<input name="username" type="text" class="form-control" id="sign-in-username" required>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input name="email" type="email" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="sign-in-password">Password*</label>
						<input class="form-control" name="user_password" type="password" id="sign-in-password" required>
					</div>
					<div class="form-group">
						<label for="sign-in-password">Password again*</label>
						<input class="form-control" name="user_password1" type="password" id="sign-in-password1" required>
					</div>
					<div class="form-group">
						<p>
							*Required field
						</p>
					</div>
					<button class="btn btn-outline-success btn-lg btn-block" type="submit">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock main_content %}